@import '../../node_modules/normalize.css/normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  line-height: 1.5;
  word-break: keep-all;
  word-wrap: break-word;
  overflow-x: hidden;
  transition: background-color 0.3s ease;
  -webkit-font-smoothing: antialiased;
}

@layer base {
  :root {
    @apply bg-theme-light text-theme-light;
  }

  .dark:root {
    @apply bg-theme-dark text-theme-dark;
  }

  main {
    @apply max-w-default;
  }
}
