@tailwind base;
@tailwind components;
@tailwind utilities;

.post h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 2.25rem;
}

.post h2 {
  margin: 1.5rem 0;
  font-size: 1.875rem;
}

.post h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.post p {
  line-height: 1.8;
}

.post a {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: from-font;
  text-underline-offset: 0.5em;
}

.post li {
  line-height: 1.8;
}

@layer components {
  .post h1,
  h2,
  h3 {
    @apply font-bold;
  }

  .content p {
    @apply text-lg !leading-[1.9] my-6;
  }

  .post a {
    @apply hover:text-primary hover:decoration-theme-light dark:hover:decoration-theme-dark transition-colors;
  }

  .post blockquote {
    @apply w-full bg-gray-50 dark:bg-[#2d333b] rounded-lg px-7 py-5 sm:p-4;
  }

  .post ul {
    @apply list-disc pl-5 my-3;
  }

  .post li {
    @apply my-2;
  }

  .post hr {
    @apply my-5 text-line;
  }

  .post p > code {
    @apply bg-emerald-50 dark:bg-slate-800 text-primary200 dark:text-primary text-sm rounded-md p-1;
  }

  .post pre {
    @apply overflow-x-auto text-sm py-5 rounded-lg shadow-hover !bg-[#22243a];
  }

  .post pre > code > span {
    @apply px-5;
  }
}
